.container{
    max-width: 1170px;
    margin: auto;
    height: 500px;
}
.line{
    background: #44C793;
    width: 200px;
    height: 1px;
    margin: auto;
}
.title{
    color:rgb(55,55,55);
    font-size: 39px;
    line-height: 48px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
.prize{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.prize__item{
    box-shadow: 0px 0.858775px 8.58775px rgba(0, 0, 0, 0.1);
    font-family: 'Work Sans', sans-serif;

}
.prize__item:nth-child(2n) img{
    height: 207px;
}
.prize__content{
    text-align: center;
    height: 95px;
    transition: all 2s ease-in-out;
}
.prize__item img{
    width: 202.52px;
    height: 187.52px;
}
.prize__name{
    font-weight: 500;
}
.prize__place{
    font-weight: 400;
    margin: 0 0 15px;
}
.font{
    font-weight: 600;
}
.parent {
    display: grid;
    grid-template-columns: 1.5fr 1.6fr repeat(2, 1fr) 1.6fr;
    grid-template-rows: 1fr repeat(2, 1.5fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 5; }
    .div2 { grid-area: 1 / 5 / 2 / 6; }
    .div3 { grid-area: 2 / 1 / 4 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 2 / 3 / 3 / 6; }
    .div6 { grid-area: 3 / 2 / 4 / 6; }
    .div7 { grid-area: 4 / 1 / 5 / 4; }
    .div8 { grid-area: 4 / 4 / 5 / 6; }
.parent div{
    border: 5px solid;
}
.parent img{
    margin-top: 10px;
    width: 200px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.sss{
    font-size: 36px;
}
.form-wrapper{
    display: flex;
    justify-content: space-between;
}
.conditions{
    background-color: #ECF9F4;
    padding: 70px 0;
    min-height: 600px;
}
.form-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35.06px;
    line-height: 59px;
    margin: 0;
}
.form-wrapper__item{
    flex-basis: 50%;
    background-repeat: no-repeat;
    padding: 0 10%;
    background-size: 15%;
}
.form-wrapper__item:first-child{
    background-image: url(./images/1.png);
}
.form-wrapper__item:last-child{
    background-image: url(./images/2.png);
}
.form-for-card{
    display: flex;
    flex-direction: column;
}
input{
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(123, 123, 123, 1);
    color: rgba(123, 123, 123, 1);
    border-radius: 10px;
    background-color: #ECF9F4;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.submit{
    background-color: #44C793;
    cursor: pointer;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18.7527px;
    line-height: 28px;
}
.submit:hover{
    background-color: aqua;
    border-radius: 50px;
    font-weight: bold;
}
.submitotpr{
    display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  background-color: brown;
  margin: 10px;
}
.submitotpr:hover, .submitotpr:focus, .submitotpr:active{
    transform: rotate(4deg);
}
.avto{
    position: relative;
    overflow: hidden;
    transform: perspective(1px) translateZ(0);
    transition-property: color;
    transition-duration: 0.3s;
}
.avto::before{
content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  border-radius: 100%;
  transform: scale(2);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.avto:hover, .avto:focus, .avto:active {
    color: white;
  }
  .avto:hover:before, .avto:focus:before, .avto:active:before {
    transform: scale(0);
  }
a{
    text-decoration: none;
    color: rgb(241, 135, 135);
}
a:visited{
    text-decoration: none;
    color: rgb(218, 103, 202);
}
.prize__content:hover{
    background-color: antiquewhite;
    border: 3px solid #44C793;

}
.card-info{
    display: flex;
    justify-content: space-between;
}
.card-info input:first-child{
    width: 60%;
}
.card-info input:last-child{
    width: 25%;
}
#review{
    resize: none;
    width: 364px;
    height: 100px;
}
.otpr{
    margin-top: 10px;
}
.row{
    width: 50px;
    background-color: #44C793;
    color: #fff;
    padding: 2px 0;
    position: absolute;
    top: -233px;
    right: 50px;
    transition: top 0.5s ease-in-out;
}
.row ul{
    list-style: none;
    padding: 0;
}
.row ul li{
    text-align: center;
    padding: 2px 0;
}
.row:hover{
    top: 0;
}
.pseudo{
    width: 100px;
    height: 150px;
    background-color: #4db5df;
    position: relative;
}
.pseudo::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aqua;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}
.pseudo:hover::after{
    transform: scale(1);
}
.menu-demo{
    display: flex;
    font-size: 20px;
}
.menu-demo__item{
    margin: 10px;
    position: relative;
    padding: 2px;
}
.menu-demo__item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: aquamarine;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.menu-demo__item:hover::after{
    opacity: 1;
}
.contacts{
    display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.contacts:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 0;
    background: #2098D1;
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .contacts:hover:before, .contacts:focus:before, .contacts:active:before {
    left: 0;
    right: 0;
  }